{% extends "base.html" %}

{% block title %}Recent {% for tag in tags %}{% if not forloop.revcounter0 %}and {% endif %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %} Bookmarks on {{ block.super }}{% endblock %}

{% block content_title %}
	<h2>Recent {% for tag in tags %}{% if not forloop.revcounter0 %}and {% endif %}<a href="/tag/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} Bookmarks on iDelicious</h2>
{% endblock %}

{% block content %}
	{% for link in links %}{% include "_link.html" %}{% endfor %}
{% endblock %}